<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Zip 메인 홈</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <script src="https://kit.fontawesome.com/82b3624cb5.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
    <script src="https://kit.fontawesome.com/82b3624cb5.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>

    <!-- 00.HEADER -->
    <nav class="navbar">
        <div class="navbar__left">
            <div class="navbar__logo">
                <a href="">ZIP</a>
            </div>
            <ul class="navbar__menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{%url 'curation' %}">Curation</a></li>
                <li><a href="{%url 'homeitem' %}">Products</a></li>
            </ul>
        </div>
        <div class="navbar__right">
            <div class="navbar__icons">
                <div class="icons-login">
                    <a href="{% url 'login' %}">로그인</a>
                    <br><br>
                </div>
            </div>
        </div>
    </nav>

    <!-- 01.FORM -->
    <br>
    <div class="main">
        <div class="login">
            <div class="heading">
                <span>회원가입</span>
                <br><br>

            </div>
            <div class="input">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="csrfmiddlewaretoken"
                        value="JaU1o6qEcixS18vkD2UtlkPSqiJJmxo2yyJUMWBUDdQg8pMoDfliOELY24upY0Pg">
                    <p><label for="id_username">사용자 이름:</label> <input type="text" name="username" maxlength="150"
                            autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username">
                        <br><span class="helptext">150자 이하 문자, 숫자 그리고 @/./+/-/_만 가능합니다.</span>
                    </p>
                    <p><label for="id_password1">비밀번호:</label> <input type="password" name="password1"
                            autocomplete="new-password" required="" id="id_password1"> <span class="helptext"></span>
                    </p>
                    <ul>
                        <li>다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</li>
                        <li>비밀번호는 최소 8자 이상이어야 합니다.</li>
                        <li>통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</li>
                        <li>숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</li>
                    </ul>
                    <p><label for="id_password2">비밀번호 확인:</label> <input type="password" name="password2"
                            autocomplete="new-password" required="" id="id_password2"> <br><span class="helptext">확인을 위해
                            이전과
                            동일한 비밀번호를 입력하세요. </span></p>
                    <br>
                    <button type="submit">submit</button>
                </form>
            </div>

        </div>
    </div>

</body>

</html>