:root{
    --text-color: #494949;
    --header-color:#212121;
    --sub-text-color: #c2c2c2;
    --point-color:#651fff ;
    --body-color: #f5f5f5;

}


body{
    margin: 0;
    font-family: 'Source Sans Pro';
    background-color: var(--body-color);
}
a{
    text-decoration: none;
    color: var(--sub-text-color);
}
a:hover{
    color: #fff;
    font-weight: bold;
}

button{
    border:0;
    outline:0;
    background: none;
}

.form-control{
    padding: 20px 40px;
    font-size: 1.2rem;
}


.navbar{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: var(--header-color);
    padding: 10px 50px;
}
.navbar__left{
    display:flex;
    align-items: center;
}
.navbar__logo{
    font-size: 30px;
}
.navbar__logo i{
    color: #fff;
    padding: 0px;
}
.navbar__logo a{
    color: var( --sub-text-color);
}
.navbar__menu {
    margin-left:70px;
    margin-top:13px;
    display : flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li a{
    color: var( --sub-text-color);
    font-size: 1.3rem;
    padding-right: 30px;
}

.navbar__menu li:hover a{
    color:white;
    font-size: 1.4rem;
}
.navbar__right{
    color: var(--sub-text-color);
    margin-right: 50px;
    font-size:1.1rem;
}
.navbar__icons{
    display:flex;
    align-items: center;
}
.navbar__icons .icons-new-curation{
    margin-right: 50px;
    padding: 10px 20px;
    background-color: var(--point-color);
    font-weight: bold;
    border-radius: 10px;
    overflow: hidden;
}
.navbar__icons .icons-new-curation:hover{
    cursor: pointer;
    background-color: var(--sub-text-color);
    color: var(--text-color);
}
.body{
    width: 70%;
    margin: 0 auto;
}

.popular__curation__title{
    margin-top: 10rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}
.popular__curation__title a{
    color: var(--text-color);
}
.popular__curation__title i{
    margin-left: 10px;
    font-size: 2.3rem;
    color: var(--text-color)
}
.popular__curation{
    width:100%;
    margin: 0 auto;
}
.popular__curation__box{
    padding:0;
    overflow: hidden;
    position: relative;
}
.popular__curation__box>a:hover img {
    transform: scale(1.5);
    transition: transform 1s;
    filter: brightness(70%);
}

.popular__curation img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    filter: brightness(80%);
}

.box-text {
    padding: 5px 10px;
    font-size: 2rem;
    color:white;
	text-align: center;
	position: absolute;
	top: 10%;
	left: 10%;
}


.recent__curation__title{
    margin-top: 10rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}
.recent__curation__title a{
    color: var(--text-color);
}
.recent__curation__title i{
    margin-left: 10px;
    font-size: 2.3rem;
    color: var(--text-color)
}
.recent__curation{
    width:100%;
    margin: 0 auto;
    padding-bottom: 50rem;
}
.recent__curation__box{
    padding: 10px;
    overflow: hidden;
    position: relative;
}
.recent__curation__box>a:hover img {
    transform: scale(1.5);
    transition: transform 1s;
    filter: brightness(70%);
}

.recent__curation img{
    width: 100%;
    height: 500px;
    vertical-align: middle;
    filter: brightness(80%);
}

.box-text-2 {
    display: block;
    width:90%;
    padding: 20px 10px;
    font-size: 2rem;
    color:var(--text-color);
	text-align: center;
	position: absolute;
	bottom:20px;
    left: 30px;
    background-color: #fff;
}

